.container{
    max-width: 1200px;
    margin:auto;
    background: #ddd;
}

header{
    height:100px;
    background: #333;
}


nav{
    height: 50px;
    background: #000;
}

main{
    background-color: #ccc;
}
aside{
    width:25%;
    height: 200px;
    float:left;
    background: #333;
}

section{
    width:75%;
    height:200px;
    float: left;
    background:  #ccc;
}
footer{
    height: 80px;
    background: #ccc
}

.clear{
    clear:both;
}

h1{
    text-align: center;
    color: #ddd;
}